# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.*

# SQLite database
database.sqlite
*.sqlite
*.sqlite3
*.db

# Log files
logs/
*.log
npm-debug.log*

# Uploaded files
uploads/*
!uploads/.gitkeep

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
Thumbs.db
.history/
